<!DOCTYPE HTML>
<html>
	<head>
    {% block head %}
    <title>{{ SITENAME }} {% block title %}{% endblock title %} {{ TAGLINE }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/theme/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/theme/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/theme/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/theme/css/ie9.css" /><![endif]-->
    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}-Feed" />
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png"/>
    {% endblock head %}
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
          <h2>{{ SITENAME }}</h2>

					<!-- Nav -->
						<nav id="nav">
              <ul>
             {% for cat, arts in categories %}
                <li{% if cat == category %} class="current"{% endif %}>
                <a href="/category/{{ cat|lower }}.html">
                  {{ cat }}</a>
                {% if cat != 'events' and cat != 'news' %}
                  <ul>
                    {% for art in arts %}
                    <li><a href="/{{ art.url}}">{{ art.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                 </li>
              {% endfor %}
							</ul>
						</nav>

				</div>

			<!-- Banner -->
    {% block banner %}{% endblock %}

			<!-- Highlights -->
    {% block highlights %}{% endblock %}

			<!-- Gigantic Heading -->
    {% block giantheader %}{% endblock %}

			<!-- Posts -->
    {% block content %}{% endblock %}

			<!-- CTA -->
    {% block CTA %}{% endblock %}

			<!-- Footer -->
    {% include 'footer.html' %}

		<!-- Scripts -->
			<script src="/theme/js/jquery.min.js"></script>
			<script src="/theme/js/jquery.dropotron.min.js"></script>
			<script src="/theme/js/skel.min.js"></script>
			<script src="/theme/js/util.js"></script>
			<!--[if lte IE 8]><script src="/theme/js/ie/respond.min.js"></script><![endif]-->
			<script src="/theme/js/main.js"></script>

	</body>
</html>
