

                   {% for cat, arts in categories %}
                      {% if cat == 'events' %}
                      <section>
											<h3>Events</h3>
                        <h4>Upcoming</h4>
                        <ul>
                          {% for art in arts|sort(attribute='date') %}
                          {% if loop.index < 5 %}
                          <li><a href="/{{ art.url}}"> {{ art.date.strftime('%a %b %d')}} - {{ art.title }}</a></li>
                          {% endif %}
                          {% endfor %}
                          </ul>
                       </li>
											<footer>
												<a href="/category/events.html" class="button">All Events</a>
											</footer>
										</section>
                    {% endif %}
                    {% if cat == 'news' %}
                      <section>
											<h3>News</h3>
                        <ul>
                          {% for art in arts %}
                          {% if loop.index < 3 %}
                          <li><a href="/{{ art.url}}">{{ art.title }}</a></li>
                          {% endif %}
                          {% endfor %}
                          </ul>
                       </li>
											<footer>
												<a href="/category/news.html" class="button">All News</a>
											</footer>
										</section>
                    {% endif %}

                    {% endfor %}

